.App {
  text-align: center;
}

.main{
  opacity: 0.6;
  max-width: 370px;
  padding-right: 39px;
}

.para{
  color: whitesmoke;
  opacity: 0.7;
  font-size: 25px;
  padding: 50px;
}

.con{
  text-align: center;
  width: 100vw; 
  overflow-x: hidden;
  height: 100vh;
}